@import "mq";
@import "fonts";

/* @import "embed"; */

/* Uncomment for full screen (including immersive article main media) */

/* @import "fullscreen"; */

/* Grid */

@import 'susy';

/* @import 'plugins/svg-grid'; */

$susy: (
  'columns': susy-repeat(4),
  'gutters': 0.25,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

/* Variables */

$colours: (primary: #005689, secondary: #e3c426, secondary-light: #ffe98f);
$font-size: (body: 20px);
$mq: (tablet: 900px);
/* Interactive Styles */

.element-atom,
.interactive-atom {
  background-color: #d7d7d7;
  margin: 0 !important;
  padding: 0;
  * {
    box-sizing: border-box;
  }
  .body-copy {
    font-family: 'DS3 Display Sans', sans-serif;
  }
  p {
    font-size: 20px;
    line-height: 1.25em;
    text-align: center;
    margin-top: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: gutter() / 2;
    div[class^="col"] {
      padding: gutter() / 2;
    }
    .col-1 {
      flex: 1 1 span(1 of 4);
    }
    .col-2 {
      flex: 1 1 span(2 of 4);
    }
    .col-3 {
      flex: 1 1 span(3 of 4);
    }
    .col-4 {
      flex: 1 1 span(4 of 4);
    }
  }
  & .page-header {
    position: relative;
    background: url('<%= path %>/assets/industry-super-bg-mob.jpg');
    background-position: 50% 50%;
    height: 518px;
    text-align: center;
    padding: 0 20px;
    margin: 0 0 20px 0;
    background-size: cover;
    color: white;
    width: span(4 of 4);
  }
  & .page-title {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-family: $f-sans-serif-text;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.25em;
  }
  .scroll-down {
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: inherit;
    img {
      padding-top: 16px;
      display: block;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  section {
    margin-bottom: gutter() / 2;
    > p {
      flex: 1 1 span(4);
      padding: 0 gutter() / 2;
    }
    .split {
      @media only screen and (min-width: map-get($mq, tablet)) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .copy,
        .tile {
          flex: 1 1 span(2 of 4);
          padding: 0 gutter() / 2;
        }
        .tile {
          padding-top: gutter() / 2;
          padding-bottom: gutter() / 2;
        }
      }
    }
  }
  .tile {
    background-color: #e5e5e5;
    text-align: center;
    hr {
      width: 100px;
      border: 2px solid map-get($colours, secondary);
      margin-top: 0;
      margin-bottom: gutter();
    }
    &--title {
      color: map-get($colours, primary);
      p {
        font-family: 'DS5 Display Sans Semibold', sans-serif;
        margin-bottom: 0;
        font-size: 28px;
      }
    }
    &--stat {
      font-family: 'DE5 Display Egyptian SemiBold', serif;
      font-size: 54px;
      color: map-get($colours, primary);
      margin-bottom: 0;
    }
    &--caption {
      font-size: 1em;
      &__small {
        font-size: .75em;
      }
    }
  }
  .donut-chart-1,
  .donut-chart-2 {
    position: relative;
    width: 190px;
    margin: 0 auto;
    margin-bottom: gutter();
  }
  .donut-chart--stat {
    font-size: 48px;
    font-family: 'DE5 Display Egyptian SemiBold', serif;
    color: map-get($colours, primary);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    sup {
      font-size: 24px;
    }
  }
  .donut-chart-1 {
    .st0 {
      fill: map-get($colours, secondary-light);
    }
    .st1 {
      fill: map-get($colours, primary);
    }
  }
  .donut-chart-2 {
    .st0 {
      fill: map-get($colours, secondary-light);
    }
    .st1 {
      fill: map-get($colours, secondary);
    }
    .st2 {
      fill: map-get($colours, primary);
    }
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    .copy {
      order: 0;
    }
    .tile {
      order: 1;
    }
    @media only screen and (min-width: map-get($mq, tablet)) {
      .copy {
        order: 1;
      }
    }
  }
  .bar-graph {
    margin-bottom: gutter();
    .st0 {
      fill: map-get($colours, secondary-light);
    }
    .st1 {
      fill: map-get($colours, primary);
      stroke: #d7d7d7;
      stroke-width: .25;
      stroke-miterlimit: 10;
    }
    &--title {
      color: map-get($colours, primary);
      font-size: 28px;
      font-family: 'DE5 Display Egyptian SemiBold', serif;
    }
  }
  .poll-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: gutter() / 2 0;
    .tile--title {
      flex: 1 0 span(4 of 4);
    }

    &--item {
      margin: 0 auto;
      @media only screen and (min-width: map-get($mq, tablet)) {
        flex: 1 1 span(2 of 4);
      }
      margin-bottom: 40px;
      h3,
      h4 {
        margin: 0;
      }
      h3,
      h4,
      sup {
        color: map-get($colours, primary);
        font-family: 'DE5 Display Egyptian SemiBold', serif;
      }
      h3 {
        display: inline-block;
        font-size: 64px;
      }
      sup {
        position: absolute;
      }
      h4,
      sup {
        font-size: 32px;
      }
      h4 {
        margin-bottom: 16px;
      }
      i {
        display: block;
        max-width: 330px;
        margin: 0 auto;
        font-size: 24px;
      }
    }
    &--source {
      flex: 0 1 span(4 of 4);
    }
  }
  .pullquote {
    display: flex;
    .image {
      padding-right: 10px;
    }
    img {
      width: 50px;
    }
    blockquote {
      font-size: 24px;
      font-family: 'DS3 Display Sans', sans-serif;
      font-style: italic;
      position: relative;
      margin: 0 0;
      @media only screen and (min-width: map-get($mq, tablet)) {
        font-size: 38px;
      }
    }
    .cite {
      margin-top: gutter();
      display: block;
      font-style: normal;
      font-size: .8em;
      line-height: 1.25em;
    }
  }
}
